@font-face {
    font-family: 'Inika'; 
    src: url(./assets/fonts/Inika-Regular.ttf);
  }

  @font-face {
    font-family: 'Inika-Bold'; 
    src: url(./assets/fonts/Inika-Bold.ttf);
  }

  @font-face {
    font-family: 'Inter-Regular'; 
    src: url(./assets/fonts/Inter-Regular.ttf);
  }

  @font-face {
    font-family: 'Inter-Bold'; 
    src: url(./assets/fonts/Inter-Bold.ttf);
  }


* {
    margin: 0 auto;
    scroll-behavior: smooth;
}

/*------------------------------*/
.header {
    max-width: 1440px;
    margin: 0 auto;
    height: 134px;
    background-color: #EDF2EC;
    background-size: 100%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    flex: 0 0 auto;
    font-family: Inika;
    margin-left: 112px;
    margin-top: 1px;
}

.logo img {
    display: flex;
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    padding-bottom: 14px;
}

.logo p {
    font-size: 16px;
    color: #000000;
    padding-top: 5px;
}

nav.navigation {
    margin-left: 617px;
}

ul.nav-list {
    display: flex;
    font-family: Inika;
    list-style-type: none;
}

li.nav-point {
    padding-right: 47px;
}

a.nav-a {
    text-decoration: none;
    font-size: 16px;
    color: #010201;
}

a.active {
    color: #E06733;
}

a:hover {
    color: #E06733;
}

/*------------------------------*/
.welcome {
    max-width: 1440px;
    margin: 0 auto;
    height: 532px;
    background-color: #EDF2EC;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img.leafs {
    width: 464px;
    height: 424px;
    margin-left: 8px;
}

.plants-text {
    width: 549px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    color: #717171;
    padding-left: 36px;
}

.plants-text h1 {
    font-family: Inter-Bold;
    margin-left: 0;
    font-size: 45px;
    line-height: 51px;
}

.plants-text span {
    color: #499A18;
}

.plants-text p {
    font-family: Inter-Regular;
    font-size: 20px;
    color: #636060;
    line-height: 35px;
}

.plants-text button {
    font-family: Inter-Regular;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 0;
    color: #000000;
    border: 2px solid #E06733;
    border-radius: 10px;
    width: 158px;
    height: 43px;
}

.plants-text button:hover {
    color: #FFFFFF;
    background-color: #E06733;
    cursor: pointer;
}

/*------------------------------*/
.about {
    max-width: 1440px;
    margin: 0 auto;
    height: 666px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gardeners-text {
    width: 603px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-left: 109px;
    margin-top: 6px;
}

.gardeners-text h2 {
    margin-left: 0; 
    font-family: Inika;
    font-size: 40px;
    color: #499A18;
    margin-bottom: 10px;
}

.gardeners-text span {
    color: #E06733;
}

.gardeners-text p {
    font-family: Inter-Regular;
    font-size: 20px;
    color: #636060;
    line-height: 30px;
}

img.houseplants {
    width: 464px;
    height: 479px;
    margin-left: -29px;
}

/*------------------------------*/
.service {
    max-width: 1440px;
    margin: 0 auto;
    height: 1300px;
    background-color: #EDF2EC;
    display: flex;
    flex-direction: column;
}

.service-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 109px;
    margin-top: 40px;
}

.service-head h2 {
    font-family: Inika;
    font-size: 40px;
    color: #499A18;
    width: 306px;
}

.service-buttons {
    display: flex;
    margin-left: 140px;
    margin-top: 29px;
}

.service-buttons button {
    font-family: Inika;
    font-size: 20px;
    text-transform: capitalize;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 39px;
}

.service-buttons button:hover {
    color: #FFFFFF;
    background-color: #E06733;
    cursor: pointer;
}

.pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-left: 14px;
}

div.pic {
    width: 330px;
    height: 450px;
    margin-right: 58px;
    margin-left: 58px;
    margin-bottom: 55px;
}

div.capt {
    width: 327px;
    height: 100px;
    margin-top: -4px;
    text-align: center;
    padding-top: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid #E3E1D5;
}

div.capt p:first-child {
    font-family: Inter-Bold;
    font-size: 20px;
    color: #E06733;
    margin-top: -4px;
}

div.capt p:nth-child(2) {
    font-family: Inter-Regular;
    font-size: 16px;
    color: #717171;
    margin-top: 12px;
}

/*------------------------------*/
.prices {
    max-width: 1440px;
    margin: 0 auto;
    height: 560px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.price {
    display: flex;
    flex-direction: column;
    margin-left: 109px;
    margin-top: 38px;
}

.price h2 {
    font-family: Inter-Bold;
    font-size: 40px;
    color: #000000;
    margin-left: 0;
}

.price-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 0px;
    margin-top: 58px;
    width: 330px;
    height: 282.01px;
    border: 2px solid #D9D9D9; 
    border-radius: 20px;
}

.price-buttons div {
    width: 211px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #EDF2EC;
    font-family: Inter-Bold;
    font-size: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 39px;
}

.price-buttons div:hover {
    cursor: pointer;
}

.price-buttons div img {
    margin-right: 40px;
}

.gardeners {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 0;
}

.gardeners p {
    font-family: Inter-Bold;
    font-size: 40px;
    color: #000000;
    width: 452px;
    margin-top: 39px;
    margin-right: 91px;
}

.gardeners span {
    color: #499A18;
}

button.contact-us {
    margin-right: 93px;
    margin-top: 42px;
    margin-bottom: 40px;
    width: 163px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: Inika-Bold;
    font-size: 20px;
    color: #E06733;
    background-color: #FFFFFF;
}

button.contact-us:hover {
    color: #FFFFFF;
    background-color: #E06733;
    cursor: pointer;
}

.gardeners img {
    width: 162px;
    height: 190px;
    margin-right: 82px;
    margin-top: -5px;
}

/*------------------------------*/
.contacts {
    max-width: 1440px;
    margin: 0 auto;
    height: 550px;
    background-color: #EDF2EC;
    display: flex;
    justify-content: space-between;
}

div.contact-woman {
    margin-top: 50px;
    margin-left: 110px;
}

.contacts h2 {
    font-family: Inika-Bold;
    font-size: 40px;
    color: #499A18;
    margin-top: 58px;
    margin-left: 44px;
    margin-right: 0px;
}

div.city {
    width: 450px;
    height: 50px;
    margin-top: 148px;
    border: none;
    background-color: #D6E7D2;
    font-family: Inter-Regular;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
    margin-right: 92px;
}

div.city:hover {
    background-color: #C1E698;
    cursor: pointer;
}

.city p {
    margin-left: 21px;
    margin-bottom: 2px;
    letter-spacing: 1px;
}

.city img {
    margin-left: 301px;
    margin-bottom: 2px;
}

/*------------------------------*/
.footer {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 10px;
    height: 130px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

div.git {
    display: flex;
    justify-content: space-between;
    width: 182px;
    margin-left: 100px;
    margin-top: 40px;
    font-family: Inter-Regular;
    font-size: 20px;
    margin-right: 2px;
}

.git p {
    margin-left: 9px;
    margin-right: 12px;
}

.git a {
    text-decoration: none;
    color: #000000;
}

.footer p.rss {
    margin-top: 40px;
    margin-left: 331px;
    font-family: Inter-Regular;
    font-size: 20px;
}

.footer .icons {
    width: 188px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 136px;
    list-style-type: none;
}

.footer .icons a {
    padding-left: 28px;
}

@media (max-width: 768px) {
    
}