@font-face {
  font-family: 'Georgia'; 
  src: url(../../../assets/fonts/Georgia.ttf);
}



* {
  margin: 0 auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/*-----header-----*/
.wrapper-header {
  background-color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height: 120px;
}

.logo {
  width: 184px;
  flex-grow: 1;
  margin-left: 40px;
  text-decoration: none;
}

.logo__title {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 2px;
  color: #545454;
}

.logo__subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #292929;
  padding-top: 11px;
  padding-left: 2px;
}

.header__burger-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  border: none;
  margin-right: 20px;
  background-color: rgba(0, 125, 215, 0);
}

.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #000000;
  left: 0px;
  transition: transform .5s opacity .5s background-color .5s;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.nav-menu {
  flex-grow: 1;
  max-width: 475px;
  margin-right: 25px;
}

ul {
  padding-inline-start: 0px;
}

.nav-menu__list {
  display: flex;
}

.nav-menu__element {
  list-style: none;
  padding: 0 17px;
}

.nav-menu__element a {
  text-decoration: none;
}

.nav-menu__link {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
}

a.active {
  color: #292929;
  text-decoration: underline solid #F1CDB3 3px;
  text-underline-offset: 7px;
  cursor: default;
}

.nav-menu__link:hover {
  color: #292929;
  transition: color 0.9s;
}

/*-----Pets-----*/
.wrapper-pets {
  background-color: #F6F6F6;
}

.pets {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.pets__heading {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 400px;
  text-align: center;
  padding-top: 81px;
  padding-left: 0;
  padding-bottom: 58px;
  max-width: 430px;
}

.content {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.content__right-btn img {
  transform: rotate(-180deg);
}

.content__cards {
  display: flex;
  flex-wrap: wrap;
}

.content__card {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  border-radius: 9px;
}

.content__card:hover {
  background-color: #FFFFFF;
  transition: background-color 0.9s;
}

.content__card:hover button {
  background-color: #F1CDB3;
  cursor: pointer;
  transition: background-color 0.9s;
}

.content__card__name {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content__card__btn {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.pets__navigation {
  margin-top: 30px;
  padding-left: 0;
}

.pets__navigation button {
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  margin-left: 8px;
  margin-right: 8px;
}

.pets__navigation button:not(.disabled):hover {
  cursor: pointer;
  background-color: #F1CDB3;
  transition: background-color 0.9s;
}

.pets__navigation button.disabled {
  border: 2px solid #CDCDCD;
} 

.pets__navigation button:not(.disabled) {
  cursor: pointer;
} 

.pets__navigation button:nth-child(3) {
  background-color: #F1CDB3;
}

.pets__navigation span {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
}

/*-----Footer-----*/
.wrapper-footer {
  background: url(../../../assets/images/noise_lines_transparent2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) 
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
  display: flex;
}

.footer {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
  flex-grow: 1;
}

.footer__address-and-contacts {
  display: flex;
}

.footer__contact {
  margin-left: 5%;
  width: 30em;
}

.footer__heading {
  margin-left: 0;
  margin-top: 56px;
  max-width: 280px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.footer__contacts {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  flex-grow: 1;
}

table {
  margin-left: 0;
}

.footer__contacts img {
  margin-right: 20px;
  margin-left: 0;
}

.footer__contacts td {
  height: 70px;
}

td a {
  text-decoration: none;
  color: #F1CDB3;;
  margin-left: -3px;
}

.footer__address {
  max-width: 320px;
  flex-grow: 1;
}

.footer__picture {
  flex-grow: 1;
  margin-left: 11%;
}

.footer__picture img {
  width: 300px;
  margin-top: 35px;
}



/*-----Media queries-----*/
/*-----Up to 1200px-----*/
@media (max-width: 1200px) {
  .logo {
    margin-left: 30px;
  }

  .nav-menu {
    margin-right: 15px;
  }

  /*----------*/
  .pets {
    padding-bottom: 78px;
  }

  .pets__heading {
    padding-bottom: 28px;
  }

  .content {
    padding-left: 0;
  }

  .content__cards {
    margin-left: 70px;
    margin-right: 70px;
    justify-content: space-evenly;
  }

  .content__card {
    flex-grow: 0;
  }

  .content__card:nth-child(7) {
    display: none;
  }

  .content__card:nth-child(8) {
    display: none;
  }

  .pets__navigation {
    margin-top: 9px;
  }

  /*----------*/
  .footer {
    display: flex;
    flex-wrap: wrap;
  }

  .footer__address-and-contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .footer__contact {
    margin-left: 4em;
  }

  .footer__heading {
    margin-top: 0.8em;
  }

  .footer__address {
    max-width: 367px;
  }

  .footer__picture {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .footer__picture img {
    margin-top: 42px;
  }
}

/*-----Up to 765px-----*/
@media (max-width: 765px) {
  .logo {
    margin-left: 20px;
    margin-top: 2px;
  }

  .header__burger-btn {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  /*----------*/
  .pets {
    padding-bottom: 42px;
  }

  .pets__heading {
    font-size: 25px;
    padding-top: 43px;
  }

  .content__cards {
    margin-left: 0;
    margin-right: 0;
    margin-top: 11px;
  }

  .content__card:nth-child(4) {
    display: none;
  }

  .content__card:nth-child(5) {
    display: none;
  }

  .content__card:nth-child(6) {
    display: none;
  }

  .pets__navigation {
    margin-top: 14px;
  }

  .pets__navigation button {
    margin-left: 3px;
    margin-right: 3px;
  }

  /*----------*/
  .footer__heading {
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }

  .footer__address-and-contacts {
    flex-wrap: wrap;
  }

  .footer__contact {
    width: 20em;
    margin-top: 10px;
    margin-left: 0;
    flex-grow: 0;
  }

  .footer__address {
    margin-left: 0;
    flex-grow: 0;
  }

  .footer__contact table {
    margin-left: 36px;
  }

  .footer__address .footer__heading {
    padding-bottom: 21px;
  }

  .footer__address table {
    margin-left: 10px;
  }

  .footer__address tr:nth-child(2) {
    line-height: 90px;
  }

  .footer__picture {
    flex-grow: 0;
  }

  .footer__picture img {
    width: 16em;
    margin-top: 0.7em;
    margin-left: 2em;
    margin-right: 0;
  }
}