* {
  margin: 0 auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/*-----header-----*/
.wrapper-header {
  background-color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height: 120px;
}

.logo {
  width: 184px;
  flex-grow: 1;
  margin-left: 40px;
  text-decoration: none;
}

.logo__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 2px;
  color: #545454;
}

.logo__subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #292929;
  padding-top: 11px;
  padding-left: 2px;
}

.nav-menu {
  flex-grow: 1;
  max-width: 475px;
  margin-right: 25px;
}

ul {
  padding-inline-start: 0px;
}

.nav-menu__list {
  display: flex;
}

.nav-menu__element {
  list-style: none;
  padding: 0 17px;
}

.nav-menu__element a {
  text-decoration: none;
}

.nav-menu__link {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
}

a.active {
  color: #292929;
  text-decoration: underline;
  text-decoration-color: #F1CDB3;
  text-underline-offset: 7px;
  cursor: default;
}

.nav-menu__link:hover {
  color: #292929;
  transition: color 0.9s;
}

/*-----Pets-----*/
.wrapper-pets {
  background-color: #F6F6F6;
}

.pets {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.pets__heading {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 400px;
  text-align: center;
  padding-top: 81px;
  padding-left: 0;
  padding-bottom: 58px;
  max-width: 430px;
}

.content {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.content__right-btn img {
  transform: rotate(-180deg);
}

.content__cards {
  display: flex;
  flex-wrap: wrap;
}

.content__card {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  border-radius: 9px;
}

.content__card:hover {
  background-color: #FFFFFF;
  transition: background-color 0.9s;
}

.content__card:hover button {
  background-color: #F1CDB3;
  cursor: pointer;
  transition: background-color 0.9s;
}

.content__card__name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content__card__btn {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.pets__navigation {
  margin-top: 30px;
  padding-left: 0;
}

.pets__navigation button {
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  margin-left: 8px;
  margin-right: 8px;
}

.pets__navigation button:not(.disabled):hover {
  cursor: pointer;
  background-color: #F1CDB3;
  transition: background-color 0.9s;
}

.pets__navigation button.disabled {
  border: 2px solid #CDCDCD;
} 

.pets__navigation button:not(.disabled) {
  cursor: pointer;
} 

.pets__navigation button:nth-child(3) {
  background-color: #F1CDB3;
}

.pets__navigation span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
}

/*-----Footer-----*/
.wrapper-footer {
  background: url(../../../assets/images/noise_lines_transparent2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) 
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
  display: flex;
}

.footer {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
  flex-grow: 1;
}

.footer__contact {
  margin-left: 3%;
}

.footer__heading {
  margin-left: 0;
  margin-top: 56px;
  max-width: 280px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.footer__contacts {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  flex-grow: 1;
}

table {
  margin-left: 0;
}

.footer__contacts img {
  margin-right: 20px;
  margin-left: 0;
}

.footer__contacts td {
  height: 70px;
}

td a {
  text-decoration: none;
  color: #F1CDB3;;
  margin-left: -3px;
}

.footer__address {
  max-width: 320px;
  flex-grow: 1;
  margin-left: 12.5%;
}

.footer__picture {
  flex-grow: 1;
  margin-left: 11%;
}

.footer__picture img {
  width: 300px;
  margin-top: 35px;
}